{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="cover-heading">{{ response.page.title }}</h1>
    <p class="lead">{{ response.page.description }}</p>
    <p class="lead">
        {% for page in response.page.pages %}
            <a href="/page/{{ page.id }}" class="btn btn-lg btn-default">{{ page.title }}</a>
        {% endfor %}
    </p>
{% endblock %}
