{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="cover-heading">{{ story.title }}</h1>
    <p class="lead">{{ story.description }}</p>
    <p class="lead">
        <a href="/page/" class="btn btn-lg btn-default">Start</a>
    </p>
{% endblock %}
